<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>店舗予約</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-3 pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xxl-9 col-xl-10 col-lg-11">
						<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item"><a th:href="@{/shops}">店舗一覧</a></li>
								<li class="breadcrumb-item"><a th:href="@{/shops/__${shop.Id}__}">店舗詳細</a></li>
								<li class="breadcrumb-item active" aria-current="page">店舗予約</li>
							</ol>
						</nav>
						
						<div th:if="${errorMessage}" class="alert alert-danger">
							<span th:text="${errorMessage}"></span>
						</div>
						
						<h1 class="text-center pb-3 mb-3 border-bottom">予約内容入力画面</h1>
		
						<h2 class="text-center mb-4" th:text="${'『' + shop.name + '』'}"></h2>
		
						<p class="text-center mb-4" style="color: blue; font-weight: bold;" th:text="${'定休日：' + shop.RegularHoliday}"></p>

						<div class="d-flex justify-content-center col-lg-4 px-0 ps-lg-4 m-auto">
							<div class="card">
								<div class="card-body">
									<form method="post" th:action="@{/reservation/__${shop.getId()}__/register}"
										th:object="${reservationInputForm}">
										<div class="form-group mb-3">
											<label for="reservationDate"
												class="col-form-label text-md-left fw-bold">予約日</label>
											<div th:if="${#fields.hasErrors('reservationDate')}"
												class="text-danger small mb-2" th:errors="*{reservationDate}"></div>
											<input type="date" class="form-control" id="reservationDate" th:field="*{reservationDate}">
										</div>

										<div class="form-group mb-3">
											<label for="reservationTime"
												class="col-form-label text-md-left fw-bold">予約時間</label>
												<br>
											<div th:if="${#fields.hasErrors('reservationTime')}"
												class="text-danger small mb-2" th:errors="*{reservationTime}"></div>
											<select th:field="*{reservationTime}">
												<option value=""></option>
												<option th:each="time : ${availableTimes}" th:value="${time}"
													th:text="${time}"></option>
											</select>
										</div>

										<div class="form-group mb-3">
											<label for="reservationCount"
												class="col-form-label text-md-left fw-bold">予約人数</label>
												<br>
											<div th:if="${#fields.hasErrors('reservationCount')}"
												class="text-danger small mb-2" th:errors="*{reservationCount}"></div>
											<select th:field="*{reservationCount}">
												<option value=""></option>
												<th:block th:each="count : ${availableCounts}">
													<option th:value="${count}" th:text="${count}"
														th:selected="${count == reservationInputForm.reservationCount}">
													</option>
												</th:block>
											</select>
										</div>
										<div class="form-group">
											<button type="submit"
												class="btn text-white shadow-sm w-100 nagoyameshi-btn">予約する</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var today = new Date().toISOString().split('T')[0];
			document.getElementById("reservationDate").setAttribute('min', today);
		});
	</script>

</body>

</html>