<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<title>会社情報編集</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-3 pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/admin}">管理者ページ</a></li>
								<li class="breadcrumb-item active" aria-current="page">会社情報編集</li>
							</ol>
						</nav>

						<h1 class="mb-4 text-center">会社情報編集</h1>

						<form class="ms-3" method="post" th:action="@{/company/update}" th:object="${companyEditForm}">
							<input type="hidden" th:field="*{id}">

							<div class="form-group row mb-3">
								<div class="col-md-3">
									<label for="name" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">会社名</span>
										</div>
									</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('name')}" class="text-danger small mb-2"
										th:errors="*{name}"></div>
									<input type="text" class="form-control" th:field="*{name}">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-3">
									<label for="postalCode" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">郵便番号</span>
										</div>
									</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('postalCode')}" class="text-danger small mb-2"
										th:errors="*{postalCode}"></div>
									<input type="text" class="form-control" th:field="*{postalCode}" inputmode="numeric"
										autocomplete="postal-code">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-3">
									<label for="location" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">所在地</span>
										</div>
									</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('location')}" class="text-danger small mb-2"
										th:errors="*{location}"></div>
									<textarea class="form-control" th:field="*{location}"></textarea>
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-3">
									<label for="representative" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">代表者</span>
										</div>
									</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('representative')}" class="text-danger small mb-2"
										th:errors="*{representative}"></div>
									<input type="text" class="form-control" th:field="*{representative}"
										autocomplete="name">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-3">
									<label for="establishment" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">設立日</span>
										</div>
									</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('establishment')}" class="text-danger small mb-2"
										th:errors="*{establishment}"></div>
									<input type="text" class="form-control" th:field="*{establishment}"
										inputmode="numeric">
								</div>
							</div>

							<div class="form-group row mb-3">
								<div class="col-md-3">
									<label for="capital" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">資本金</span>
										</div>
									</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('capital')}" class="text-danger small mb-2"
										th:errors="*{capital}"></div>
									<input type="text" class="form-control" th:field="*{capital}">
								</div>
							</div>
					
							<div class="form-group row mb-3">
								<div class="col-md-3">
									<label for="content" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">概要</span>
										</div>
									</label>
								</div>
								<div class="col-md-8">
									<div th:if="${#fields.hasErrors('content')}" class="text-danger small mb-2"
										th:errors="*{content}"></div>
									<textarea class="form-control" th:field="*{content}"></textarea>
								</div>
							</div>

							<div class="form-group d-flex justify-content-center my-4">
								<button type="submit" class="btn text-white shadow-sm w-50 nagoyameshi-btn">更新</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>