<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>
	<div th:replace="~{fragment :: styles}"></div>

	<script src="https://js.stripe.com/v3/"></script>

	<title>クレジットカード情報変更</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container pt-3 pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item"><a th:href="@{/user}">マイページ</a></li>
								<li class="breadcrumb-item active" aria-current="page">クレジットカード情報変更</li>
							</ol>
						</nav>

						<div class="d-flex justify-content-center ms-auto mt-5 mb-5 ps-lg-4">
							<div class="card d-flex fw-bold" style="width: 17rem; background-color:rgb(255, 252, 191);">
								<div class="m-auto mt-2 fs-5">
									<label>現在のカード情報</label>
								</div>
								<div class="row d-flex justify-content-center mx-2 mb-2">
								<label class="mt-2 mb-2">カード番号</label>
								<div id="card-number-display" class="text-primary mx-2 mb-2">取得中...</div>
								<label class="mb-2">有効期限</label>
								<div id="card-expiry-display" class="text-primary mx-2 mb-2">取得中...</div>
								</div>
							</div>
						</div>

						<div class="d-flex justify-content-center px-0 ps-lg-4 m-auto">
							<div class="card" style="width: 17rem;">
								<div class="card-body">
									<form id="payment-form">
										<input type="hidden" name="_csrf" th:value="${_csrf.token}" id="csrfToken">

										<div class="form-group mb-3">
											<label for="card-number-element"
												class="col-form-label text-md-left fw-bold">カード番号</label>
											<div id="card-number-element" class="form-control"><!-- ストライプ要素挿入 -->
											</div>
											<label style="color: chocolate;">テストカード番号：5555555555554444</label>
										</div>

										<div class="form-group mb-3">
											<label for="card-expiry-element"
												class="col-form-label text-md-left fw-bold">有効期限</label>
											<div id="card-expiry-element" class="form-control" style="width: 6rem;">
												<!-- ストライプ要素挿入 -->
											</div>
										</div>

										<div class="form-group mb-3">
											<label for="card-Cvc-element"
												class="col-form-label text-md-left fw-bold">セキュリティコード</label>
											<div id="card-cvc-element" class="form-control" style="width: 5rem;">
												<!-- ストライプ要素挿入 -->
											</div>
										</div>
										<div id="card-errors" class="text-danger small mb-2" role="alert"></div>
										<button type="submit"
											class="btn text-white shadow-sm nagoyameshi-btn w-100">変　更</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>
	<div th:replace="~{fragment :: scripts}"></div>
	<script src="/js/stripeUpdate.js" defer></script>
	<script src="/js/getCurrentCard.js" defer></script>
</body>

</html>