<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>
	
	<div th:replace="~{fragment :: styles}"></div>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<title>有料会員登録</title>
</head>

<body>
	<div class="nagoyameshi-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>
		<main>
			<div class="container pt-3 pb-5 nagoyameshi-container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">
						<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item"><a th:href="@{/user}">マイページ</a></li>
								<li class="breadcrumb-item active" aria-current="page">有料会員登録<span style="color: chocolate;">テストカード番号：4242424242424242</span></li>
							</ol>
						</nav>

						<h1 class="text-center">有料会員登録</h1>

						<!-- 利用規約の埋め込み（例：iframe）-->
						<div class="form-group">
							<iframe th:src="@{/company/paidterms-body}"
								style="transform: scale(0.9); border: solid 1px;" class="w-100" height="500"></iframe>
						</div>

						<div class="d-flex">
							<!-- 同意チェックボックス -->
							<div class="form-check mx-auto">
								<input type="checkbox" class="form-check-input" style="transform: scale(1.5);"
									id="agreeCheckbox" onclick="toggleSubmitButton()">
								<label class="form-check-label" for="agreeCheckbox">有料会員規約に同意する</label>
							</div>

							<!-- 登録ボタン -->
							<button id="paymentButton" class="btn btn-primary mx-5" disabled>登録</button>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<script type="text/javascript">
		function toggleSubmitButton() {
			var checkbox = document.getElementById("agreeCheckbox");
			var submitButton = document.getElementById("paymentButton");
			submitButton.disabled = !checkbox.checked;
		}
	</script>

	<script src="https://js.stripe.com/v3"></script>
	<script th:inline="javascript">
		document.getElementById("paymentButton").addEventListener("click", function() {
			// Stripeオブジェクトを作成
			const stripe = Stripe("pk_test_51PiVQRGc1SCcyjfLyeRzX3XxMVUdHfAyoVUF1ldt1u9fMb4YE6xoDE4TVtbd6dZcxyzWbxf2NJ0I7v1nMjSQFQJa00SP9RVTUw");  // 公開可能キーを使用してください

			// サーバーからsessionIdを取得
			const sessionId = /*[[${sessionId}]]*/"sessionId";

			// Checkoutリダイレクトを開始
			stripe.redirectToCheckout({ sessionId: sessionId })
				.then(function (result) {
					if (result.error) {
						alert(result.error.message);
					}
				});
		});
	</script>

</body>
</html>
